@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1{
    color: blueviolet;
    background-color: rgb(248, 138, 3);
}
h2{
    color: brown;
    background-color: rgb(105, 84, 102);
}
p{
    text-align: justify;
}